<div class="mt--9">
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h2 class="text-muted">
              Todas as Questoes
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div style="height: 100%px; max-width: 100%">
            <canvas id="resultChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="text-center">
            <h2 class="text-muted">
              Questões por data
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div style="max-height: 290px; max-width: 100%">
            <canvas id="questionsByDate"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12">
      <div class="card mt-4">
        <div class="card-header">
          <div class="text-center">
            <h2 class="text-muted">
              Questoes por Disciplina
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div style="height: 100%; max-width: 100%">
            <canvas id="questionsByDiscipline"></canvas>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-header text-center">
             <h2 class="text-muted">
               Questões por assunto
             </h2>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>
