.container .nav-item li a{
  display: inline-block;
}
footer div div div ul li a{
  display: inline-block;
  padding-left: 0px;
}

.bg-default{
  background-color:aqua!important; 
  // background-image: src('./../../../assets/img/login_background.jpg');
}

.new-default{
  background-color: #1B4486;
}
