<div class="header py-8 py-lg-8 bg-gradient-success" style="background-color:#80C141;">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--6 pb-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Login</small></div>
          <div class="btn-wrapper text-center">
            <h2> TCC-UNB </h2>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form  [formGroup]="loginForms" (ngSubmit)="onSubmit()" role="form">
            <div class="form-group mb-3">
              <label for="emailInput"> Email: </label><br>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input (keydown.enter)="loginAttempt()" formControlName="email" class="form-control" placeholder="Ex: user@dominio.com" id="emailInput" type="email">
              </div>
              <div class="text-danger">
              </div>
            </div>
            <div class="form-group">
              <label for="passInput"> Senha: </label><br>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input (keydown.enter)="loginAttempt()" formControlName="password" id="passInput" class="form-control" placeholder="Ex: suaSenha" type="password">
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id="customCheckLogin" type="checkbox">
              <label class="custom-control-label" for="customCheckLogin">
                <span class="text-muted">Lembrar me</span>
              </label>
            </div>
            <div class="text-center mt-3">
              <!-- [disabled]="!loginForms.valid || disabled || loading"
               [loading]="loading"
                -->
              <app-progress-button class="my-4" [disabled]="!loginForms.valid || disabled || loading"
              [loading]="loading" (click)="loginAttempt()" [message]="'Entrar'"> </app-progress-button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a routerLink="/password-reset" class="text-light"><small>Esqueceu a senha?</small></a>
        </div>
        <div class="col-6 text-right">
          <!-- <a href="javascript:void(0)" class="text-light" routerLinkActive="active" [routerLink]="['/register']" ><small>Criar uma nova conta</small></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
