<div class="container mt--9">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha Conta</h3>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="userProfile">
          <!-- <form (ngSubmit)="onSubmit()" [formGroup]="profileForm"> -->
            <!-- <h6 class="heading-small text-muted mb-4">
              Informações de usuário
            </h6>
            <div class="form-group">
              <label for="email"> Email </label>
              <input
                type="text"
                required
                [formControl]="email"
                name="email"
                id="email"
                placeholder="joao@gmail.com"
                class="form-control"
                value="{{ email }}"
              />
            </div>
            <div class="form-group">
              <label for="name"> Nome completo </label>
              <input
                type="text"
                required
                id="input-first-name"
                [formControl]="name"
                class="form-control form-control-alternative"
                placeholder="Nome"
              />
            </div>
            <div class="form-group">
              <label for="identificationNumber"> CPF </label>
              <input
                type="text"
                cpfValidator
                required
                id="input-first-name"
                [formControl]="CPF"
                class="form-control form-control-alternative"
                placeholder="Ex: 00000000008, deve ser sem pontuacao"
              />
              <div *ngIf="CPF.invalid && CPF.touched">
                <div *ngIf="CPF.errors.pattern">
                  <span class="text-danger">
                    O cpf digita parece nao ser válido, verifique se o mesmo
                    possui 11 digitos.
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email"> Senha </label>
              <input
                type="text"
                required
                [formControl]="password"
                name="password"
                id="password"
                placeholder="**********"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="email"> Confirmar senha </label>
              <input
                type="text"
                required
                [formControl]="password_confirmation"
                name="password_confirmation"
                id="password_confirmation"
                placeholder="**********"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="telefone"> Telefone </label>
              <input
                type="text"
                required
                name="telefone"
                [formControl]="telefone"
                id="telefone"
                mask="(00) 00000-0000"
                class="form-control"
              />
            </div> -->
            <app-user-profile-forms (loadEmmit)="formsLoaded=$event" (accountStatusEmmit)="statusValue=$event"  [loading]="loading"></app-user-profile-forms>
            <br />
            <div class="d-flex justify-content-between">
                <!-- <button type="button" *ngIf="statusValue != '-1'" (click)="deleteAccount()" class="btn btn-danger btn-round rounded">
                  Deletar conta <i class="fa fa-trash"></i>
                </button> -->
                <!-- <button *ngIf="statusValue == '-1'" type="button" (click)="cancelAccountDeletion()" class="btn btn-danger btn-round rounded">
                  Cancelar deleção de conta <i class="fa fa-check"></i>
                </button> -->
<!--
              <button type="submit"  (click)="submitForms()" class="btn btn-success btn-round rounded">
                Salvar <i class="fa fa-check "></i>
              </button> -->

              <app-progress-button  [disabled]="!formsLoaded" [loading]="loading" (click)="submitForms()" [message]="'Salvar'"> </app-progress-button>


            </div>

          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
