/* You can add custom styles for your registration component here */
.card {
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  }
  
  .form-control-alternative {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border: 0;
    transition: box-shadow 0.15s ease;
  }
  
  .form-control-alternative:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .text-danger {
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }