.modal-header{
  border-bottom: solid 0.5px #d5d5d599;
}
.modal-footer{
  border-top: solid 0.5px #d5d5d599;
}
// .modalBtn{
//   height: 0px;
//   width: 0px;
// }

.modal{
  overflow-wrap: anywhere;
  white-space: normal !important;
}
